########################
# Unreal Derived Files #
########################

Build
Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent/Textures
Content/StarterContent/HDRI

###############
# Xcode Files #
###############

*.xcworkspace
