########################
# Unreal Derived Files #
########################

*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
Content/StarterContent/

###############
# Xcode Files #
###############

*.xcworkspace
